@charset "utf-8";
body{font-family: 'Roboto', sans-serif;}

#header{position: relative; height: 1950px;background: skyblue;}
#header .header_top{position: absolute; top: 20px; width: 1260px; height: 80px; background: #f00; left: 50%; margin-left: -630px;}
#header .slider_wrap{height: 1010px; background: blue;}
#header .content{position: absolute; bottom: 0; width: 1260px; height: 1250px; background: #0f0; left: 50%; transform: translateX(-50%);}